.brand img {
    width: 44px;
    padding: 0 8px;

}

body{
    background-color: antiquewhite;
}


*{
    margin: 0;
    padding: 0;
} 

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 40px;
    background-color: green;
}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 30px;
    background-image: url(peakpx.jpg);
    background-repeat: no-repeat;

}
.container img{
    max-width: fit-content;
    max-height: fit-content;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: rgb(20, 20, 20);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
    
}
.icons{
    margin-top: 14px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
width: 43px;
margin: 0 23px;
border-radius: 34px;
}

.timeStamp {
    margin: 0 23px;
}

.timeStamp i {
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    display: flex;
    padding-top: 20px;

}

.songInfo h3 {
    padding-top: 33px ;
}

#gif{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#masterPlay{
    cursor: pointer;
} 

#previous{
    cursor : pointer;   
}

#next{
    cursor : pointer;   
}
